@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Roboto&display=swap');

body {
    min-width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #E9F6FC;
}

/*Header and Contained Elements */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-height: auto;
    background-color: #08222d;
    font-family: 'Lato', sans-serif;
    padding: 25px 5% 25px 5%;
}

#logo img {
    max-width: 100px;
    height: auto;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

nav {
    max-width: 100%;
    height: auto;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    color: #E9F6FC;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

.Home-Button {
    background-color: rgb(238, 223, 11);
}

.Home-Button:hover {
    color: rgb(238, 223, 11);
    background-color: black;
    border: 2px solid white;
}

.Twitch-Button {
    background-color: #6441A4;
}

.Twitch-Button:hover {
    color: #6441A4;
    background-color: black;
    border: 2px solid white;
}

.Youtube-Button {
    background-color: rgb(243, 38, 38);
}

.Youtube-Button:hover {
    color: rgb(243, 38, 38);
    background-color: black;
    border: 2px solid white;
}

.Contact-Button {
    background-color:  #738adb;
}

.Contact-Button:hover {
    color: #738adb;
    background-color: black;
    border: 2px solid white;
}

/* Hero Image and Content */

#hero-image {
    min-height: auto;
    min-width: 100%;
    background-image: url(../images/axville-WcrqKjgMPfI-unsplash.jpg);
    background-position: center;
    border-bottom: 25px solid black;
    border-top: 25px solid black;
}

#hero-image > h1 {
    font-size: 3rem;
    padding: 250px 0px 30px 50px;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}

#hero-image > h2 {
    font-size: 2rem;
    padding: 0px 0px 0px 50px;
}

/* Twitch Section and Links */

#Twitch {
    height: auto;
    max-width: 100%;
    background-color: #6441a4;
    background-image: url(../images/Background12.png);
    border-bottom: 25px solid black;
    border-top: 25px solid black;
    padding: 25px 5% 25px 5%;
    align-items: center;
}

#Twitch h2 {
    font-size: 2.5rem;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: underline;
}

.Twitch_cards {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.Twitch_card {
    height: auto;
    width: 18%;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 25px 0;
}

.Twitch_cards > a > img {
    width: 100%;
    height: auto;
}

.Twitch_card:hover {
    border: 3px solid white;
}

#Twitch > h3 {
    padding: 50px 5% 25px 5%;
    text-align: center;
    font-size: 1.5rem;
    display: block;  
}

#Twitch > h3 > a {
    color: #E9F6FC;
}

/* Youtube Section */

#Youtube {
    min-height: auto;
    min-width: 100%;
    background-color: #ff0000b7;
    background-image: url(../images/Background12.png);
    border-bottom: 25px solid black;
    border-top: 25px solid black;
}

#Youtube-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 90%;
    min-height: 400px;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

.Clips {
    width: 30%;
    margin: 15px 10px 15px 10px;
    border: 2px solid white;
}

#Youtube > h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 25px 0 25px 0;
    color: white;
    text-decoration: underline;
}

#Youtube > h3 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#Youtube > h3 > a {
    color: #E9F6FC;
}



/* Contact Section */

#Contact {
    max-width: 100%;
    height: auto;
    background-color: #738adb;
    background-image: url(../images/Background12.png);
    border-bottom: 25px solid black;
    border-top: 25px solid black;
}

#Contact > h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 25px 0 25px 0;
    text-decoration: underline;
}

#Contact p {
    font-size: 2rem;
    text-align: center;
    color: black;
    padding: 50px 25% 50px 25%;
}

.Contact-button {
    min-width: 400px;
    height: auto;
    text-align: center;
    padding: 0 0 50px 0;
}

.Contact-button > a {
    color: #E9F6FC;
    background-color: black;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    padding:10px;
    font-size: 1.5rem;
}

.Contact-button > a:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}


/* Site Footer */

footer {
    max-width: 100%;
    min-height: 100px;
    background-color: #08222d;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* Twitch Page */

.Twitch-Logo {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 25px 0 25px 0;
}

.Twitch-Logo img {
    max-width: 40%;
    height: auto;
}

.Twitch-Logo > h3 {
    font-size: 1.5rem;
    padding: 20px 10% 20px 10%;
}

#Twitch-Streamers {
    max-width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#Twitch-Streamers img {
    border: 10px solid black;
    border-radius: 50%;
}

hr {
    border: 4px solid black;
    width: 90%;
}

/* Youtube Page */

.Youtube-Logo {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 25px 0 25px 0;
}

.Youtube-Logo > h2 {
    font-size: 2.5rem;
    padding: 20px 10% 20px 10%;
    font-family: 'Lato', sans-serif;
}

.Youtube-Logo img {
    max-width: 80%;
    height: auto;
}

.Feedback {
    margin: 0 auto;
    max-width: 80%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.Feedback > p {
    color: white;
    font-size: 2rem;
    padding: 0 10% 0px 10%;
}


/* Media Queries */

@media (max-width: 1024px) {

    header {
        padding: 15px 2% 15px 2%;
        justify-content: space-between;
    }

    header h1 {
        display: flex;
    }

    #logo {
        margin: 0 auto;
    }

    #logo img {
        display: none;
        align-items: center;
        max-width: 30%;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav > a {
        min-width: 100px;
        margin: 20px;
    }

    #hero-image > h1 {
        text-align: left;
        padding: 100px 0px 30px 10px;
    }

    #hero-image > h2 {
        text-align: left;
        padding: 0px 0px 0px 10px;
    }

    .Twitch_cards {
        max-width: 100%;
        height: auto;
        align-items: center;
        flex: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Twitch_card {
        max-height: auto;
        width: 40%;
        border: 3px solid black;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px 0 25px 0;
    }

    #Twitch-Streamers {
        max-width: 100%;
        height: auto;
        align-items: center;
        flex: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #Youtube-videos {
        flex: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .Clips {
        min-width: 90%;
        margin: 15px auto;
        border: 2px solid white;
    }

    #Contact p {
        font-size: 1.5rem;
        padding: 25px 15px;
    }

    footer > p {
        font-size: .5rem;
    }


}

@media (max-width: 768px) {

    header h1 {
        display: none;
    }

    #logo img {
        display: flex;
        max-width: 100px;
        height: auto;
    }

}

@media (max-width: 425px) {

    nav {
        min-width: 100%;
        display: flex;
    }

    nav > a {
        font-size: 1rem;
        min-width: 80px;
        margin: 10px auto;
    } 

    .Streamer_card {
        width: 40%;
        height: auto;
    }

    .Streamer_card img {
        width: 100%;
        height: auto;
    }
}

