@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto&display=swap');

body {
    min-width: 100%;
    padding: 0;
    margin: 0;
}

/*Header and Contained Elements */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-height: auto;
    background-color: #343434;
    color: white;
    font-family: 'Playfair Display SC', serif;
    padding: 25px 5% 25px 5%;
}

#logo img {
    max-width: 100%;
    height: auto;
}

nav {
    max-width: 100%;
    height: auto;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 40px;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
}

.Home-Button {
    background-color: rgb(238, 223, 11);
}

.Home-Button:hover {
    color: rgb(238, 223, 11);
    background-color: white;
}

.Twitch-Button {
    background-color: #6441A4;
}

.Twitch-Button:hover {
    color: #6441A4;
    background-color: white;
}

.Youtube-Button {
    background-color: rgb(243, 38, 38);
}

.Youtube-Button:hover {
    color: rgb(243, 38, 38);
    background-color: white;
}

.Contact-Button {
    background-color:  #738adb;
}

.Contact-Button:hover {
    color: #738adb;
    background-color: white;
}

/* Hero Image and Content */

#hero-image {
    min-height: auto;
    min-width: 100%;
    background-image: url(../images/axville-WcrqKjgMPfI-unsplash.jpg);
    background-position: center;
    border-bottom: 25px solid black;
    border-top: 25px solid black;
}

#hero-image > h1 {
    font-size: 3rem;
    color: white;
    vertical-align: bottom;
    padding: 250px 0px 30px 50px;
    font-family: 'Playfair Display SC', serif;
    text-decoration: underline;
}

#hero-image > h2 {
    font-size: 2rem;
    color: white;
    padding: 0px 0px 0px 50px;
    font-family: 'Roboto', sans-serif;
}

/* Twitch Section and Links */

#Twitch {
    height: auto;
    max-width: 100%;
    background-color: #6441a4;
    background-image: url(../images/Background12.png);
    border-bottom: 25px solid black;
    border-top: 25px solid black;
    padding: 25px 5% 25px 5%;
    align-items: center;
}

#Twitch > h2 {
    font-size: 2.5rem;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.Twitch_cards {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.Twitch_card {
    height: auto;
    width: 18%;
    border: 3px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 25px 0;
}

.Twitch_cards > a > img {
    width: 100%;
    height: auto;
}

.Twitch_card:hover {
    border: 3px solid white;
}

#Twitch > h3 {
    padding: 50px 5% 25px 5%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    display: block;  
}

#Twitch > h3 > a {
    color: white;
}

/* Youtube Section */

#Youtube {
    min-height: auto;
    min-width: 100%;
    background-color: #ff0000b7;
    background-image: url(../images/Background12.png);
    border-bottom: 25px solid black;
    border-top: 25px solid black;
}

#Youtube-videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    max-width: 90%;
    min-height: 400px;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

.Clips {
    width: 30%;
    margin: 15px 10px 15px 10px;
    border: 2px solid white;
}

#Youtube > h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 25px 0 25px 0;
    color: white;
    text-decoration: underline;
}

#Youtube > h3 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#Youtube > h3 > a {
    color: white;
}



/* Contact Section */

#Contact {
    max-width: 100%;
    height: auto;
    background-color: #738adb;
    background-image: url(../images/Background12.png);
    border-bottom: 25px solid black;
    border-top: 25px solid black;
}

#Contact > h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 25px 0 25px 0;
    color: white;
    text-decoration: underline;
}

#Contact p {
    font-size: 2rem;
    text-align: center;
    color: black;
    padding: 50px 25% 50px 25%;
}

.Contact-button {
    min-width: 400px;
    height: auto;
    text-align: center;
    padding: 0 0 50px 0;
}

.Contact-button > a {
    color: white;
    background-color: black;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    padding:10px;
    font-size: 1.5rem;
}


/* Site Footer */

footer {
    max-width: 100%;
    height: auto;
    background-color: #343434;
    color: white;
    font-family: 'Playfair Display SC', serif;
}

/* Media Queries */

@media (max-width: 1024px) {

    header {
        align-items: center;
        flex: 100%;
    }

    .Twitch_cards {
        max-width: 100%;
        height: auto;
        align-items: center;
        flex: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Twitch_card {
        max-height: auto;
        width: 40%;
        border: 3px solid black;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px 0 25px 0;
    }

    #Youtube-videos {
        flex: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }

    .Clips {
        min-width: 90%;
        margin: 15px auto;
        border: 2px solid white;
    }

    .Discord {
        flex: 100%;
        align-items: center;
        margin: 0 auto;
    }

}